h1{
  font-size: 36px;
}

p{
  font-size: 20px;
  height: 20px;
  width: 500px;
}

a{
  font-size: 20px;
}

.list-padding{
  margin: 8px;
}

header{
  padding: 50px 0;
  background-image: url("../images/headerbackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first-section{
  background-color: white;
}

.section{
  padding: 60px 0 40px;
}

ul{
  background-color: #F7F9FC;
  border-radius: 8px;
  margin-top: 25px;
  padding: 30px 55px;
}

li{
  margin-bottom: 8px;
}
