h1{
  font-size: 36px;
}

p{
  font-size: 20px;
  height: 15px;
  width: 500px;
}

a{
  font-size: 20px;
}

.list-padding{
  margin: 8px;
}

header{
  padding: 50px 0;
  background-image: url("../images/headerbackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
