h1{
  font-size: 36px;
  background-color: orange;
}

p{
  font-size: 20px;
  background-color: yellow;
  height: 250px;
  width: 500px;
}

a{
  font-size: 20px;
}

.list-padding{
  margin: 8px;
}

header{
  background-color: #F0F8FF;
  padding: 200px 0;
  background-image: url("../images/headerbackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
